.header{
  .main{
    .nav{
      float: right;
    }
  }
  .hubs{
    height: 35px;
    text-align: right;

    a{
      background: lightGray;
      margin-right: 20px;
      border-radius: 7px;
      padding: 10px 20px;
      font-size: 13px;
    }
  }
}