# See http://help.github.com/ignore-files/ for more about ignoring files.

# Ignore bundler config.
/.bundle

# Ignore binstubs
bin/*

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp
/config/database.yml
db/*.db
db/*.sqlite3
public/uploads/*
public/old_uploads/*
public/assets

public/system
public/system/*

# local config files
# Gemfile.lock
.rvmrc
.ruby-gemset
.ruby-version

# OS files
.DS_Store
.DS_Store?
Thumbs.db

config/capistrano/templates/database.production.yml