@import '../../base/colors';
@import "compass/css3/border-radius";

.footer{
  @include border-radius(5px 5px 0 0);
  border-top: 5px solid gray;
  background: #DDDDDD;

  ul.pages{
    padding-top: 20px;
    padding-left: 20px;

    li{
      float: left;
      margin-right: 20px;
    }
  }
}