.header{
  background: gray;
  height: 100px;
  margin-bottom: 10px;
  position: relative;
}
ul.login_fu{
  position: absolute;
  top: 15px; right: 0px;

  li{
    float: left;
    margin-right: 20px;
  }
}