@import '../../base/colors';

.header{
  background: $header;

  height: 100px;
  margin-bottom: 15px;
  position: relative;
}
ul.login_fu{
  position: absolute;
  top: 15px; right: 0px;

  li{
    float: left;
    margin-right: 20px;
  }
}