@import '../../base/mix';

/* http://naldzgraphics.net/freebies/violet-purple-and-lavender-patterns/ */
/* http://www.colourlovers.com/pattern/2450513/As_Redbuds_Blossom/ */
html{
  background: url(http://cs614924.vk.me/v614924742/17e7/kiCk9Uk7wOI.jpg) repeat scroll 0 0 white;
}

.body{
  padding-top: 0px;
}

.layout{
  width: 100%;
  margin-bottom: 15px;

  .center{
    .block{
      width: 570px;
      margin: 0 15px;
    }
  }

  .left, .right{
    width: 200px;
    .block{ 
      width: 200px;
      @include overblock;
    }
  }
}