@import '../../base/colors';

.left_column_hubs{
  .current{
    color: darkblue;
  }
}
/*.section_hubs{
  border-radius: 5px;
  margin: 0 10px 15px 0;
  border:  1px solid $header;
  background: lighten($header, 15%);

  .hubs{
    padding-bottom: 10px; 
  }
  h3{
    background: $header;
    border-radius: 5px;
    text-align: center;
    font-size: 1.6em;
    padding: 5px;
  }
  p{
    font-size: 1em;
    margin-bottom: 10px;
  }
  a{
    font-size: 1.6em;
    margin-left: 20px;
  }
}*/