@import '../../base/colors';
@import "compass/css3/box-shadow";

.left_column_hubs{
  p{
    @include box-shadow(#666 0px 2px 3px);
    background: none repeat scroll 0 0 white;
    border: 3px solid #76463C;
    margin: 0 12px 15px 0;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
  }
  a{
    color: $link_hover;
    display: block;
    font-size: 12pt;
    line-height: 150%;
    text-align: center;
    text-decoration: none;
  }
  p.current{
    border-color: $link_hover;
    a { color: $link_hover; }
  }
}