.alert.flash_msgs{
  position: relative;

  a.close{
    padding: 5px;
    cursor: pointer;
    background: #DDD;
    font-size: 1.4em;
    line-height: 8px;
    position: absolute;
    top: 3px; right: 3px;
    border-radius: 20px;
    text-decoration: none;
  }
  p{
    background: #7accc8;
    border-radius: 2px;
    padding: 10px;
  }
}