.recent_comments{
  padding-right: 10px;

  h3{
    background: lightBlue;
    text-align: center;
    font-size: 1.6em;
    padding: 5px;
  }
  .comment{
    margin-bottom: 15px;
  }
  p{
    margin-bottom: 10px
  }
}