.section_hubs{
  padding-right: 10px;
  margin-bottom: 15px;

  h3{
    background: lightBlue;
    text-align: center;
    font-size: 1.6em;
    padding: 5px;
  }
  p{
    font-size: 1.1em;
    margin-bottom: 10px;
  }
}