@import '../../base/colors';

.sections{
  margin-bottom: 15px;
  text-align: center;
  border-radius: 5px;
  padding: 10px;

  a{
    color: #444;
    font-size: 1.9em;
    margin-right: 30px;

    &:hover{ text-decoration: underline; }
  }
  .current{ color: $link_hover; }
}