%ul.pages
  %li= link_to 'Пользователи', users_url
  - Hub.friendly_first('bottom-pages').try(:pubs).try(:published_set).try(:each) do |page|
    %li= link_to page.title, page_url(page.slug)

= link_to '/recipes.rss' do
  = image_tag 'social/rss.png'
  RSS