- content_for :left_column do
  - if @sub_hubs
    .menu.hubs
      - @sub_hubs.each do |hub|
        - current = (@hub == hub) ? :current : nil

        = link_to hub_url(hub.slug), class: current do
          = hub.title
          %b
            (#{hub.pubs_count_published})
          