/ %ul.main_menu
/   - @user.hubs.of_(:pages).each do |hub|
/     %li
/       - hub.pages.published.each do |page|
/         %span= page.title

%ul.main_menu
  %li
    - if current_user
      = link_to current_user.login, cabinet_url
      = link_to t('sessions.logout'), logout_url, method: :delete
    - else
      = link_to t('sessions.new'), login_url
  %li
    = link_to t('users.index'), users_url