- @comments = Comment.with_state(:published).where(commentable_state: :published).limit(5)

- unless @comments.blank?
  .well.sidebar-nav
    %h3 Последние комментарии
    %ul.nav.nav-list
      - @comments.each do |comment|
        %p= comment.content
        %p= link_to comment.commentable_title, comment.commentable_url