%h3 Cabinet of: #{@user.login}

%ul
  - [:pages, :posts, :blogs, :recipes, :articles].each do |controller_name|
    %li= link_to "#{controller_name} (#{@user.send(controller_name).count})", [@user, controller_name]