@import "./mix";
@import "compass/css3/inline-block";

/*
zykin-ilya@ya.ru
github.com/the-teacher
Last modified: 14 aug 2013

GLOBAL font-size: 10px; (aka 62.5%)
provide identity of:
10px => 1em => 100%
15px => 1.5em => 150%
18px => 1.8em => 180%
*/
* {
  margin: 0;
  padding: 0;
}

/* all block elements */
article, aside, details, figcaption, figure, footer, header, hgroup,
menu, nav, section, html, head, body, address, blockquote, center, dir,
div, dl, fieldset, form, h1, h2, h3, h4, h5, h6, hr, isindex, menu, noframes, noscript,
ol, p, pre, table, ul {
  border: 0;
  outline: 0;
  font-size: 10px;
  line-height: 100%;
  background: transparent;
  vertical-align: baseline;
  @include arial;
}

html {
  background: white;
}

/* HTML5 INIT (experimental section) */
article, aside, details, figcaption, figure, footer,
header, hgroup, menu, nav, section {
  display: block;
}

canvas, video, audio[controls] {
  display: inline-block;
  *display: inline;
  zoom: 1;
}

audio {
  display: none;
}

[hidden] {
  display: none;
}

mark {
  background: yellow;
  padding: 0 5px;
}

/* HTML5 INIT */
/* TABLES */
table, tr, th, td {
  border-collapse: collapse;
  vertical-align: top;
  border-spacing: 0;
}

th {
  font-weight: bold;
}

/* TABLES */
/* LIST */
ol, ul {
  list-style: none;
  margin: 0;
}

li {
  list-style-position: outside;
}

/* LIST */
img {
  vertical-align: top;
}

/* IE a > img fix*/
a img {
  border: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:hover, a:active {
  outline: 0;
}

sup, sub {
  font-size: 85%;
  zoom: 1;
}

sup {
  vertical-align: 40%;
}

sub {
  vertical-align: -40%;
}

noscript {
  background: red;
  font-size: 2em;
  padding: 5px;
  color: white;
}

/* CUSTOM */
p {
  line-height: 1.35em;
}

label {
  display: block;
}

.numered_list, .marked_list {
  margin-left: 20px;
}

.numered_list li, .marked_list li {
  list-style-position: outside;
  margin-left: 15px;
  padding-left: 5px;
}

.numered_list li {
  list-style-type: decimal;
}

.marked_list li {
  list-style-type: disc;
}

.hidden {
  display: none;
}

.invisible {
  visibility: hidden;
  height: 0;
}

.visible {
  visibility: visible;
  height: auto;
}

/* Unbreakable */
.nobr {
  font-size: inherit;
  white-space: nowrap;
  /*  word-spacing: -2px;
  letter-spacing: -2px; */
}

/* For sliders building */
.nobr_item {
  @include inline-block;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
}

/* no text elements select */
.no_text_select{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

:focus {
  outline: 0;
}

.u {
  text-decoration: underline;
}

.indicator, .stop_indicator {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  display: none;
}

/* hacks */
/* overblock */
.ob {
  overflow: hidden;
  zoom: 1;
}

/* clearfix */
.cf:after {
  content: ".";
  display: block;
  line-height: 0;

  height: 0;
  clear: both;
  visibility: hidden;
}

html[xmlns] .cf { display: block; }
* html .cf { zoom: 1; }


/* hidden input text, for custom calendars fields */
.zeropoint {
  position: absolute !important;
  top: 0px;
  left: 0px;
  height: 0px !important;
  width: 1px !important;
  opacity: 0 !important;
  border: 0 !important;
}

/* placeholders fix */
:-moz-placeholder {
  color: #999 !important;
}

:-ms-input-placeholder {
  color: #999 !important;
}

/* WebKit fixes */
::-webkit-input-placeholder {
  color: #999;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  /*
.ANY_CLASS{ any_property: x; }
.test { display: inline-table; }
*/
}