%table.table
  %tr
    %td
      = link_to 'Пользователи', users_url
  - if !(spages = system_pages).blank?
    %tr
      %td
        %ul.nav.nav-pills.nav-justified
          - spages.each do |page|
            %li= link_to page.title, page_url(page.slug)