.navbar.navbar{ role: :navigation }
  .collapse.navbar-collapse
    %ul.nav.navbar-nav.nav-pills
      - top_sections.each do |hub|
        - active = (@root_hub == hub) ? :active : nil
        %li{ class: active }
          = link_to hub.title, system_hub_url(hub.slug)