.field.hub_selector
  -# Logick
  - object       ||= @object
  - klass_name     = object.ctrl_name.singularize
  - selector_hubs  = current_user.available_hubs(object.ctrl_name)
  - selected_hub   = object.try(:hub)

  -# View
  - unless selector_hubs.blank?
    .field
      %b= label_tag :hub_id, t('pubs.select_hub')
      = select_tag "#{klass_name}[hub_id]", grouped_nested_options(selector_hubs, selected: selected_hub), class: :nested_options