@import '../../base/colors';

a { color: $link; }
a:visited { color: $link_visited; }
a:hover, a:visited:hover { color: $link; }

p{
  margin-bottom: 10px;
  font-size:   1.3em;
  line-height: 150%;
}

.layout{
  .numered_list, .marked_list{
    margin-bottom: 10px;

    li{
      margin-bottom: 10px;
      font-size: 1.3em;
    }
  }
}