@import '../../base/colors';

a { color: black; }

a:visited       { color: $link_visited; }
a:hover         { color: $link_hover;   }
a:visited:hover { color: $link_hover;   }

p{
  margin-bottom: 10px;
  font-size:   1.3em;
  line-height: 150%;
}

.numered_list, .marked_list{
  margin-bottom: 10px;

  li{
    margin-bottom: 10px;
    font-size: 1.3em;
  }
}

.per_page{
  text-align: right;
  margin-bottom: 15px;

  a{
    margin-right: 25px;
  }
}