form{
  padding: 15px;
  background: #eee;
  border-radius: 3px;
  margin-bottom: 20px;

  label{
    margin-bottom: 5px;
    font-size: 1.3em;
  }
  .field{
    margin-bottom: 15px;
  }
  input{
    padding: 4px;
    font-size: 1.3em;
  }
  input[type=submit]{
    padding: 5px;
  }
}