@import '../../base/mix';

.posts_index{
  li{
    margin-bottom: 20px;
    
    a{ color:#a5260a; }

    h2{
      a{
        color: #76463C;
        @include corp_font;
        &:hover{ color: #B61A1E; }
      }
    }

    p{
      color: #444444;
      font-size: 12pt;
      margin-bottom: 15px;
    }
  }
}