@import '../../base/mix';
@import '../../base/colors';

.posts_index, .posts_show{
  h2{
    color: #76463C;
    font-style: italic;
  }

  a{
    &, &:visited{ color: #76463C; }
    &:hover{ color: $link_hover; }
  }

  p{
    color: #444;
    font-size: 12pt;
    margin-bottom: 15px;
  }
}

.posts_index {
  li{
    margin-bottom: 20px;
  }
}