@import '../../base/colors';
@import "compass/css3/box-shadow";
@import "compass/css3/border-radius";

.hubs{
  width: 190px;
  overflow: hidden;
  padding-right: 10px;

  a{
    @include box-shadow(#666 0px 2px 3px);
    @include border-radius(10px);
    color: #76463C;

    border: 3px solid #76463C;
    margin-bottom: 15px;
    background: white;
    display: block;
    padding: 10px;

    font-size: 1.5em;
    line-height: 150%;
    text-align: center;
    text-decoration: none;
   
    &.current, &:hover{
      color: $link_hover;
      border-color: $link_hover;
    }
  }
  b{ color: #aaa; font-size: 0.7em; }
}