.recent_comments{
  .comment{
    width: 188px;
    overflow: hidden;
    margin-bottom: 10px;
  }
  .title{
    margin: 0;
    padding: 0 0 5px 0;
  }
  .content{
    margin-bottom: 5px;
  }
  .info{
    color: gray;
    font-size: 0.9em;
    margin-bottom: 10px;
  }

  .comments{
    margin: 0;
    padding: 0;
    text-align: center;
    
    p{
      margin: 0px;
      background: lightgray;
    }
  }
}