- if @post.hub
  - hub_selector_visibility = :hidden

  .field.hub_full_name
    %h3= @post.hub.self_and_ancestors.map{|hub| hub.title }.join(' => ')

  %p= link_to 'Выбрать другой раздел', '#', class: :other_hub

.field.hub_selector{ class: hub_selector_visibility }
  = render partial: "hubs/selector"