%p.informer
  %b Aвтор:
  = link_to post.user.login, user_path(post.user.login)

  %b Просмотры:
  = post.show_count

  - if post.respond_to? :comments
    %b Комментарии:
    = link_to post.comments_sum, show_url(post, :comments)