%h1 Listing #{@klass.to_s.pluralize}

%ol.sortable_tree{ data: { rebuild_url: url_for(controller: controller_name, action: :rebuild) } }= build_server_tree @posts, type: :sortable

%br

= link_to "New #{@klass.to_s}", url_for(controller: controller_name, action: :new)

-# %ol.tree= build_server_tree @posts
-# link_to 'Show', post
-# link_to 'Edit', url_for(controller: controller_name, action: :edit, id: post)
-# link_to 'Destroy', post, :method => :delete, :data => { confirm: 'Are you sure?' }