- if @sub_hubs
  .panel.panel-success
    .panel-heading
      %h3 Хабы

    .panel-body
      - @sub_hubs.each do |hub|
        - current = (@hub == hub) ? :current : nil

        = link_to hub_url(hub.slug), class: current do
          %p
            = hub.title
            %b
              (#{hub.pubs_published_count})