.navbar
  .navbar-inner
    .container
      -#
        %a.btn.btn-navbar(data-target=".nav-collapse" data-toggle="collapse")
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
      %a.brand(href=root_url) Home
      .container.nav-collapse
        %ul.nav
          %li
            - if current_user
              = link_to current_user.login, cabinet_url
              = link_to t('sessions.logout'), logout_url, method: :delete
            - else
              = link_to t('sessions.new'), login_url
          %li
            = link_to t('users.index'), users_url

